<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Indie Land</h1>
        <p class="lead">Get Indie Music Information, Encourage singers, Share your comments</p>
        <a class="btn btn-secondary btn-sm" href="https://github.com/Lobarbon/Indie-Land" role="button"><i class="fab fa-github"></i> GitHub</a>
    </div>
</div>

<div class="container">
    <% if login_number %>
        <div class="text-right">Your number of login: <%==login_number %></div>
    <% end %>
    <% future_events.each do |event| %>
        <h2 class="date-title mt-5" id=<%== event.date_html_id %>><%== event.date %></h2>
        <ul class="list-group-flush">
            <% event.each do |brief_hash|%>
                <li class="list-group-item" id=<%== brief_hash.event_html_id %>>
                    <a href=<%== brief_hash.event_href %> id=<%== brief_hash.event_html_link_id %>>
                        ➣ <%== brief_hash.event_name %>
                    </a>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>